.dashboard {
  height: 100vh;
  margin-left: 200px;
  padding: 50px;
  background-color: #F3F0EE !important;
  border-radius: 50px 0px 0px 50px;
  overflow: hidden;
  overflow-y: scroll;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}