.dashboard-card:first-of-type {
  background-color: #0E1423;
}

.dashboard-card:nth-child(2) {
  background-color: #DBBFAA;
}

.dashboard-card:nth-child(3) {
  background-color: #95CED8;
}

.dashboard-card:nth-child(4) {
  background-color: #019362;
  width: 100%;
  height: fit-content;
}

.dashboard-card {
  width: 300px;
  height: fit-content;
  padding: 20px;
  border-radius: 50px;
  color: white;
}

.dashboard-card .title h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.dashboard-card .data h1 {
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.dashboard-card .recentActivity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dashboard-card .recentActivity .left {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}

.dashboard-card .left {
  color: green;
}

.dashboard-card .data-featured .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  color: var(--heading-font-color);
  border-radius: 50px;
  padding: 20px;
}

.dashboard-card .data-featured .no-featured-product {
  font-weight: bold;
  font-size: 18px;
}

.dashboard-card .data-featured .add-product-button {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}

.dashboard-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dashboard-card form h3 {
  font-size: 22px;
}

.dashboard-card form button {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.dashboard-card form input {
  margin: 20px 0px;
}