.dashboard {
  height: 100vh;
  margin-left: 200px;
  padding: 50px;
  background-color: #F3F0EE !important;
  border-radius: 50px 0px 0px 50px;
  overflow: hidden;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.dashboard .alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.dashboard .alert-success {
  background-color: green;
}