.color-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  margin-bottom: 50px;
}

.color-card:first-of-type {
  margin-top: 20px;
}

.color-card:last-of-type {
  margin-bottom: 0px;
}

.color-card .choose-color {
  padding: 10px 20px;
  border-radius: 50px;
}