.featured-section {
  margin-top: -70px;
}

.featured-product {
  display: flex;
  flex-direction: column;
}

.featured-product .top,
.featured-product .bottom {
  display: flex;
  justify-content: space-between;
}

.featured-product .left {
  flex: 4;
}

.featured-product .right {
  flex: 1;
  margin-left: 50px;
}

.featured-product .top .left h1 {
  font-weight: bold;
  font-size: 45px;
}

.featured-product .top .right p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.featured-product .left img,
.featured-product .right img {
  width: 100%;
  height: 100%;
}

.featured-product .left {
  position: relative;
}

.featured-product .left button {
  position: absolute;
  bottom: 20px;
  right: 50px;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
}

.featured-product .right .note {
  position: relative;
  margin-top: 50px;
}

.featured-product .right .product-specs {
  position: absolute;
  top: 25px;
  padding: 10px;
}

.featured-product .right .product-specs .product-name {
  font-size: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.featured-product .right .product-specs .product-spec {
  font-size: 12px;
}

.featured-product .right .product-specs .specs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}