nav {
  background-color: white;
  padding: 20px;
  z-index: 100;
}

.nav-items {
  display: flex;
}

nav .left,
nav .middle,
nav .right {
  flex: 1;
  display: flex;
  align-items: center;
}

nav .middle {
  justify-content: center;
}

nav .right {
  justify-content: flex-end;
}

nav .left {
  justify-content: flex-start;
}

nav .logo {
  font-family: var(--secondary-font);
  font-size: 32px;
  letter-spacing: 3px;
  color: var(--heading-font-color);
  cursor: pointer;
}

nav .nav-links {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .nav-link {
  margin-right: 50px;
}

nav .nav-link:last-of-type {
  margin-right: 0px;
}

nav .ride-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
}

nav .login-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .login-link {
  cursor: pointer;
}

nav .login-link:first-of-type {
  margin-right: 50px;
}

.test-ride-form {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid var(--primary-color);
  border-radius: 50px;
  width: 800px;
  height: fit-content;
  box-shadow: -1px 1px 5px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px 1px 5px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 5px 6px rgba(0, 0, 0, 0.15);
}

.test-ride-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.test-ride-form form input {
  border: 1px solid gray;
  border-radius: 10px;
}

.test-ride-form form .form-item {
  display: flex;
  flex-direction: column;
}

.test-ride-form form .form-item label {
  margin: 10px 0px;
  font-weight: 500;
}

.test-ride-form form button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: var(--primary-color);
  border-radius: 50px;
  font-weight: 500;
}

.test-ride-form .quit-form {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 23px;
  background-color: lightsalmon;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-ride-form form input {
  padding: 10px 5px;
}

.test-ride-form span {}